* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 0 20px;
}

.form {
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.product__item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0 0;
}

.grams__slider {
  border-radius: 5px;
  background: rgb(224, 222, 222);
  height: 10px;
}

.slider__item {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background: rgb(100, 100, 247);
  position: relative;
  top: -3px;
}

.input__item {
  display: flex;
  justify-content: space-between;
}
